@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey      : #2e2e2e;
  --blue      : #0e2d88;
}

html,
body {
  overscroll-behavior-x: none;
}


.bg-grey{
  background: var(--grey);
}

.bg-blue{
  background: var(--blue);
}

.custom-height{
  height: 80vh;
  position: relative;
}

.footer-height{
  height: 7vh;
}

.custom-height-header{
  height: 13vh;
}

.conveyor-belt {
  position: absolute;
  width: 27vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.conveyor-translator {
  position: absolute;
  width: 40vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.conveyor-closing {
  position: absolute;
  width: 25vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.conveyor-bag {
  position: absolute;
  width: 18.5vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.conveyor-check {
  position: absolute;
  width: 25.5vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.conveyor-incline {
  position: absolute;
  width: 21vw;
  height: 4.3vh;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.wheel {
  position: absolute;
  width: min(3.15vw, 3.15vh);
  height: min(3.15vw, 3.15vh);
  background: #374151;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wheel {
  width: min(2.15vw, 2.15vh);
  height: min(2.15vw, 2.15vh);
  background: #111827;
  border-radius: 50%;
}

.left-wheel {
  left: 0.2vw;
  top: 0.45vh;
}

.right-wheel {
  right: 0.2vw;
  top: 0.45vh;
}

.plus-sign {
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.belt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #374151;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #fff;
}

.belt-text {
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
}

.custom-placing{
  top: 14vh;
  right: 4vw;
}

.custom-placing-monitoring{
  top: 1vh;
  left: 4vw;
}


.rotateUp{
  rotate:calc(-90deg);
}

.motor-2379{
  top: 20vh;
  left: 54vw;
}

.motor-m712d_1{
  bottom: 3.5vh;
  left: 5%;
}

.motor-m712d_2{
  bottom: 3.5vh;
  left: 32%;
}

.motor-m713d{
  bottom: 3.5vh;
  right: 41.7%;
}

.motor-m713d-page2{
  bottom: 3.5vh;
  right: 25%;
}

.motor-m714d{
  bottom: 3.5vh;
  right: 15%;
}

.custom-hopper{
  left: 5.5vw;
  top: 18vh;
  width: 15vw;
  height: 40vh;
}

.hopper-detail{
  top: 60%;
  left: 0.7%;
  z-index: 2;
}

.gray-custom{
  background: #c4c4c4;
  border: 2px solid #e0e0e0;
}


button{
  background: #c4c4c4;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  padding: 2px 12px;
  color: #000;
  font-weight: 600;
}

.custom-hopper2{
  top: 4%;
  left: 23%;
}

.custom-hopper-image{
  width: 15vw;
  height: 60vh;
}

.kodrum{
  left: 19vw;
  top: 5vh;
}

.kodrum-image{
  width: 10.8vw;
}

.solenoid-valve{
  top: 4.5vh;
}

.solenoid-valve-image{
  width: 20vw;
}

.text-judul{
  font-size: 2vw;
}

.logo-custom{
  width: 8vw;
  height: auto;
}

.text-monitoring-custom{
  font-size: 1vw;
}

.text-custom-logo{
  font-size: 1.8vw;
}

.text-custom-pressure{
  font-size: 1.1vw;
}

.custom-turbo{
  width: 2.5vw;
  height: auto;
}

.custom-failpass{
  width: 3.5vw;
  height: 3.5vh;
  padding: 2px 2px;
}

.custom-indicator{
  width: 1vw;
  height: 1vw;
}

.custom-logo-sewing{
  width: 2.5vw;
  height: 4vw;
}

.custom-logo-ews{
  width: 4vw;
  height: 4vw;
}

.custom-logo-qc{
  width: 5vw;
  height: 4vw;
}

.custom-motor-height{
  width: 2vw;
  height: auto;
}